.contenedor_general{

    background-color: rgb(230, 230, 230);
    width: 1400px;
    height: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.barra_menu{
    background-color: #479956;
    width: 1400px;
    height: 80px;
    display: flex;
}

.imagen_top{
    background-color: #37B24D;
    width: 1400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
}

.texto_principal{
    width: 400px;
}

.texto_principal>h1{
    color: white;
    text-align: center;
}

.texto_principal>p{
    color: white;
    text-align: justify;
}

.contenedor-productos{
    background-color: rgb(162, 162, 184);
    width: 1400px;
    height: 1260px;
    display: flex;
}



.footer-global {
    background-color: white;
    width: 1400px;
    height: 80px;
    display: flex;
    margin: auto;
}

.lado{

    flex: 1; /* divide en 3 partes iguales */
    display: flex;
}

.izq{
    bbackground-color: blueviolet;
    display: flex;
    flex-direction: column ;
}

.texto_redessociales_footer{
    display: flex;
    margin-left: 20px;
}

.iconos_redes_footer{
    display: flex;
    margin-left: 20px;
    margin-top: -4%;


}

.cent{
    bbackground-color: aqua;
    justify-content: center;
}

.derechos_footer{/* Copyright 2025..... */

    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}


